// Colours
$bodyColour: #ffffff;
$headingColour: darken($bodyColour, 20%);
$linkColour: #5B5BFF;
$hoverColour: darken($linkColour, 10%);
$captionColour: lighten($headingColour, 40%);
$white: #fff;

$backgroundColour: #ffffff;
$codeBackgroundColour: darken($backgroundColour, 20%);
